{#
/**
 * @file
 * Site alert merged
 *
 * Variables:
 * - primary_alert: Primary alert
 * - alerts: Array of alerts
 */
#}
{% if primary_alert %}
    <div class="c-site-alert {{ primary_alert.type }} {{ primary_alert.position }}" role="alert" data-dismiss-key="{{ primary_alert.dismiss_key }}">
        <div class="c-site-alert__container">
            {% if primary_alert.dismiss and primary_alert.dismiss_title %}
                <button type="button" class="c-site-alert__close" data-dismiss="alert" aria-hidden="true">{{ primary_alert.dismiss_title|t }}</button>
            {% endif %}
            {% if primary_alert.title %}
                <div class="c-site-alert__title">
                    {{ primary_alert.title }}
                </div>
            {% endif %}
            {% if primary_alert.message %}
                <div class="c-site-alert__message">
                    {{ primary_alert.message.value|raw }}
                </div>
            {% endif %}
            {% if primary_alert.link and primary_alert.link_title %}
                <a href="{{ primary_alert.link }}" class="c-site-alert__link"{% if primary_alert.link_type and primary_alert.link_type == 'external' %} target="_blank"{% endif %}>{{ primary_alert.link_title }}</a>
            {% endif %}
            {% if alerts %}
                <div class="c-site-alert__alerts">
                    <ol>
                        {% for alert_pos,alert in alerts %}
                            {% if alert.title %}
                            <li class="c-site-alert__merged-alert">
                                <strong>{{ alert.title }}</strong>{% if alert.link and alert.link_title %} - <a href="{{ alert.link }}"{% if alert.link_type and alert.link_type == 'external' %} target="_blank"{% endif %}>{{ alert.link_title }}</a>{% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
